<p><%= @user.first_name %>,</p>
<p>Welcome to <a href="http://unfoundsounds.com" target="_blank">Unfound Sounds.</a> You're in for a treat, and hopefully some great vinyl if you keep an eye on our hints.</p>
<p>I'm Michael, the treasure hunt organizer. Please let me know if you have any questions, or if there are any records you'd like me to hide in the coming summer months.</p>
<p>Here's how a hunt goes: Hints are posted each day starting on the 1st of each summer month, June through September, at <a href="http://unfoundsounds.com" target="_blank">unfoundsounds.com</a>. Albums are hidden in local establishments, so they're available for pickup only during business or building hours.</p>
<p>If you find an album, please take a photo of your treasure and send it to this email: michael@unfoundsounds.com.</p>
<p>Have fun, and happy hunting!</p>
<p>All the best,<br>
Michael</p>