<div class="body">
    <main class="body--main">
        <% if @current_round == true %>
            <div class="body--albums current_round">
        <% else %>
            <div class="body--albums upcoming_round">
        <% end %>
            <% @round.albums.each do |album| %>
                <section class="albums--album">
                    <%= link_to album_path(album), class: "album--link" do |link| %>
                        <div class="album--image">
                            <%= image_tag(album.cover) %>
                        </div>
                    <% end %>
                </section>
            <% end %>
        </div>
    </main>
</div>