#notice {
    margin: 0;
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #444444;
    color: white;
    transition-duration: 1s;
}

.body--main a, .body--main a:visited {
    text-decoration: underline;
}