.header {
    padding: 2% 1%;
    background-color: $white;
    width: 100%;
}

.header--container {
    max-width: 1000px;
    margin: 0 auto;
}

.header--logo {
    display: none;
}

.header--title {
    width: 100%;
}

.header--title a {
    text-decoration: none;
}

.header--title h1 {
    font-family: "bebas-neue";
    font-size: 4rem;
    color: $siteRed;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.header--navigation {
    width: 100%;
}

nav h3 {
    margin: 0;
    display: inline-block;
    text-align: center;
}

nav h3 {
    font-family: "bebas-neue";
    font-size: calc(30rem/16);
    color: white;
}

.navigation--button {
    background: $siteGreen;
    text-align: center;
    width: calc(50% - 1rem);
    display: inline-block;
    margin: 0 .5rem;
}

@media only screen and (min-width: $smallTabletBreakpoint) {
    .header--container {
        @include flexbox();
        @include flexbox-justify-content(center);
        @include flexbox-align-items(flex-end);
    }
    
    .header--logo {
        width: 50px;
        margin-right: 1rem;
        display: block;
    }
    
    .header--title {
        width: 320px;
    }
    
    .header--title h1 {
        font-size: 3.5rem;
        line-height: .7;
        text-align: left;
    }
    
    .header--navigation {
        width: calc(100%/3);
    }
}

@media only screen and (min-width: 750px) {
    .header--title {
        width: 400px;
    }
    
    .header--logo {
        width: 55px;
    }
    
    .header--title h1 {
        font-size: 4.5rem;
    }
}

@media only screen and (min-width: 960px) {
    .header--title {
        width: 60%;
    }
    
    .header--logo {
        width: 8%;
    }
    
    .header--title h1 {
        font-size: 6.25rem;
        line-height: .7;
    }
}