<p><%= @user.first_name %>,</p>
<p>You have requested to reset your password.</p>
<p>To choose a new password, just follow this link: <%= @url %>.</p>
<p>Thank you,</p>
<p>Michael and Unfound Sounds</p>